<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yash's Badges</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet" />
    <!-- <script src="https://kit.fontawesome.com/b1e8bd50c9.js" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <div class="container-fluid page">
        <div class="nav desktop">
            <a type="button" class="btn btn-dark newBtn" href="/">Home</a>
            <a type="button" class="btn btn-dark newBtn" href="/awc">AWC</a>
            <a type="button" class="btn btn-dark newBtn" href="/stats">Stats</a>
            <a type="button" class="btn btn-dark newBtn" href="/kusogaki">Kusogaki Crew</a>
        </div>

        <div class="nav mobile">
            <a type="button" class="btn-sm btn-dark newBtn" href="/">Home</a>
            <a type="button" class="btn-sm btn-dark newBtn" href="/awc">AWC</a>
            <a type="button" class="btn-sm btn-dark newBtn" href="/stats">Stats</a>
            <a type="button" class="btn-sm btn-dark newBtn" href="/kusogaki">Kusogaki Crew</a>
        </div>