body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: black;
  /* background-image: url(assets/background.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.main {
  display: flex;
  margin: 2em 0;
}
