<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div><a type="button" class="outline purple-white" href="/awc">Tier</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/genre">Genre</a></div>
    <div><a type="button" class="outline purple-white" href="/awc">Special</a></div>
    <div><a type="button" class="outline purple-white" href="/awc">Seasonal</a></div>
    <div><a type="button" class="outline purple-white" href="/awc">Monthly</a></div>
    <div><a type="button" class="outline purple-white" href="/awc">Collection</a></div>
  </div>
</div>

<%- include('partials/footer'); -%>
