<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div><a type="button" class="outline purple-white" href="/awc/tier">Tier</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/genre">Genre</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/special">Special</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/seasonal">Seasonal</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/monthly">Monthly</a></div>
    <div><a type="button" class="outline purple-white" href="/awc/collection">Collection</a></div>
  </div>
</div>

<%- include('partials/footer'); -%>
