<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-kuso">
          <div>
            <h4 class="name">Special Badges</h4>
          </div>
          <hr class="solid" />

          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/b11f86a5.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/1a91d509.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/030873c2.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/75268d63.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/5fbad8db.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/059c18ca.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/c36eb785.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/6d046e5c.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/f50043f4.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/5d3fe69a.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/d80ae926.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery07/4d8089fc.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <hr class="solid" />
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery12/545ca2cd.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery12/8b87d7db.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <hr class="solid" />
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery13/4fcda293.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery13/4b660d92.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery13/6868cbbb.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
          <hr class="solid" />
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery14/ba1d64cd.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery14/c901eb86.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery14/fa7ddb1c.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
