<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-kuso">
          <div>
            <h4>Seasonal Badges</h4>
          </div>
          <hr class="solid" />
          <div class="image-row">
            <!-- <img class="image-kuso" src="https://files.catbox.moe/wdwlv7.jpg" alt="" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
