<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-kuso">
          <div>
            <h4>AWC Tier Badges</h4>
          </div>
          <hr class="solid" />

          <div class="image-row">
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery01/13ebb552.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery01/fc038c9e.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
            <img
              class="image-kuso"
              src="https://annahoj-awc.carrd.co/assets/images/gallery01/8724e14f.jpg?v75304789816951"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
