<%- include('partials/header'); -%>

<div class="container">
  <div class="card">
    <div class="pic-container">
      <img class="pic" src="avatar.png" alt="Profile Picture" />
    </div>
    <div class="name">
      <span>Yash</span>
    </div>
    <div class="title">
      <span>Full-time Computer Science student</span>
    </div>
    <div class="description">
      <p>
        Just your average boy who's into anime and happened to stumble upon AniList and later AWC
      </p>
      <p>
        IRL I'm quite a shy but friendly and hard-working (though lazy) 20-year-old university
        student from India.
      </p>
    </div>
    <div class="points">Points : 7 | Rank : Novice</div>
    <a class="btn btn-primary message" href="https://anilist.co/user/Yash/">AL Profile</a>

    <!-- <div class="links">
      <a href="https://www.facebook.com/codingandstuff/" target="_blank" class="fb">
              <i class="fab fa-facebook-f"></i>
            </a>
      <a href="#" target="_blank" class="yt">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://codepen.io/codingandstuff" target="_blank" class="cp">
              <i class="fab fa-codepen"></i>
            </a>
            <a href="https://coding-and-stuff.blogspot.com/" target="_blank" class="bg">
              <i class="fab fa-blogger-b"></i>
            </a>
    </div> -->
  </div>
</div>

<%- include('partials/footer'); -%>
