<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div class="name">
      <a href="https://kusogaki.co/">
        <img
          src="https://cdn.discordapp.com/attachments/729352003469443143/746363760524132409/badge_3.png"
          alt=""
          class="kuso-logo"
      /></a>
      <hr class="solid" />
    </div>
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-kuso">
          <div>
            <h4>Kusogaki Crew Badges</h4>
          </div>

          <hr class="solid" />
          <div>
            <h6>September 2020</h6>
          </div>
          <div class="image-row">
            <img
              class="image-kuso"
              src="https://kusogaki.co/assets/images/gallery15/b761c7d8.jpg?v57736440539951"
              alt=""
            />
            <img
              class="image-kuso"
              src="https://kusogaki.co/assets/images/gallery15/f753925b.jpg?v57736440539951"
              alt=""
            />
            <img
              class="image-kuso"
              src="https://kusogaki.co/assets/images/gallery15/5dfaad62.jpg?v57736440539951"
              alt=""
            />
          </div>

          <hr class="solid" />
          <div>
            <h6>August 2020</h6>
          </div>
          <div class="image-row">
            <img class="image-kuso" src="https://files.catbox.moe/wdwlv7.jpg" alt="" />
            <img class="image-kuso" src="https://i.imgur.com/jfG97Hp.png" alt="" />
            <img class="image-kuso" src="https://i.imgur.com/jjFZq9C.png" alt="" />
            <img
              class="image-kuso"
              src="https://cdn.discordapp.com/attachments/730139523610050641/749626286389067826/GPVaH4d.png"
              alt=""
            />
            <img
              class="image-kuso"
              src="https://cdn.discordapp.com/attachments/730139523610050641/749425771541561405/SPOILER_Miyamoto_Rei_Badge.png"
              alt=""
            />
            <img
              class="image-kuso"
              src="https://cdn.discordapp.com/attachments/730139523610050641/749626236682371122/Sqb6VN3.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
