<%- include('partials/header'); -%>

<div class="container">
  <div class="card awc">
    <div class="name">
      <span>Stats</span>
      <hr class="solid" />
    </div>
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-left">
          <div>
            <h4>Episodes Watched</h4>
          </div>

          <div class="image-row">
            <img class="image-genre" src="https://i.imgur.com/r5Wfqfz.png" alt="" />
            <img class="image-genre" src="https://i.imgur.com/WPGCgKU.png" alt="" />
            <img
              class="image-genre"
              src="https://i.postimg.cc/dQC3wmnG/3000_Episodes_Watched_ReVamp_transparent.png"
              alt=""
            />
          </div>
          <hr class="solid" />
        </div>
        <div class="gallery-right">
          <div>
            <h4>Days Watched</h4>
          </div>

          <div class="image-row">
            <img
              class="image-mastery"
              src="https://i.postimg.cc/66hB6YJN/Fledgling-Variant-2.png"
              alt=""
            />
          </div>
          <div class="image-row">
            <img
              class="image-mastery"
              src="https://i.postimg.cc/MpnwDwcW/Hardened-Variant-1.png"
              alt=""
            />
          </div>
          <div class="image-row">
            <img
              class="image-mastery"
              src="https://i.postimg.cc/d1jc1tf9/Monster-Variant1.png"
              alt=""
              style="filter: grayscale(100%)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
